<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Agenda realizada en Vue.js">
	<meta name="author" content="Félix Méndez">
	<title>Agenda Vue.js</title>
	<link rel="shortcut icon" type="image/png" href="favicon.png" />

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/me.css">
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="main">
		<div class="container">
			<agenda :tareas="tareas"></agenda>
		</div>
	</div>

	<template id="agenda">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2>Agenda App</h2>
				<hr>
				<!-- Formulario para crear tarea -->
				<form class="form" @submit.prevent="agregarTarea()">
	                <div class="input-group">
	                    <input type="text" class="form-control" placeholder="Escriba el evento." v-model="nuevaTarea">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="fa fa-plus"></span> Añadir tarea
							</button>
						</span>
	                </div>
	            </form>
	            <!-- Fin de formulario para crear tarea -->
	            <!-- Listar los eventos -->
	            <ul class="list-group">
	                <li v-for="(tarea, index) in tareas"
	                    class="list-group-item clearfix">
	                    <p class="lead" :class="{completado: tarea.completado}">
	                        {{ tarea.titulo }}
	                    </p>
	                    <input type="text" class="form-control" 
	                    		v-model="tarea.titulo" 
	                    		v-show="editandoTarea === index" 
	                    		@blur="editandoTarea = null">
	                    <br v-show="editandoTarea === index">
	                    <div>
	                        <span class="pull-right">
	                            <button class="btn btn-default btn-xs" 
	                            	@click="editandoTarea = index"
	                            	v-show="editandoTarea != index">
	                                <span class="fa fa-pencil"></span>
	                            </button>
	                            <button v-show="editandoTarea === index"
                                	@click="editandoTarea = null"
                                	class="btn btn-default btn-xs">
	                                <span class="fa fa-floppy-o"></span>
	                            </button>
	                            <button class="btn btn-primary btn-xs" @click="tarea.completado = !tarea.completado">
	                                <span class="fa" :class="{'fa-check': !tarea.completado,'fa-repeat': tarea.completado}"></span>
	                            </button>
	                            <button class="btn btn-danger btn-xs" @click="eliminarTarea(index)">
	                                <span class="fa fa-remove"></span>
	                            </button>
	                        </span>
	                    </div>
                   </li>
                </ul>
	            <!-- Fin de listar los eventos -->
			</div>
		</div>
	</template>

	<script src="js/main.js"></script>
</body>
</html>